@media (max-width: 1400px) {
    .content h2{
        font-size: 85px;
    }
}
@media (max-width: 1200px) {
    .event_name span{
        font-size: 24px;
    }
    .tab-nav .tab_h {
        padding: 15px 25px;
    }
    .about h4 {
        font-size: 24px;
    }
    .content h2 {
        font-size: 80px;
    }
    .logo img {
        height: 100px;
    }
}
@media (max-width: 1024px) {
    .content h2 {
        font-size: 75px;
    }
    .about h4 {
        font-size: 22px;
    }
}
@media (max-width: 990px) {
    .content{
        width: 100%;
        padding: 0 60px;
    }
    .content h2 {
        font-size: 70px;
    }
    .p_class{
        font-size: 18px;
    }
}
@media (max-width: 800px) {
    .slider .col-md-6, .contact .col-md-6{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about.b .col-md-4{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .contact .row .col-md-6:nth-child(2){
        margin-top: 20px;
    }
    .content h2 {
        font-size: 65px;
    }
    .tab-nav li{
        margin-top: 15px;
    }
}
@media (max-width: 575px) {
    .header .container, .event_name {
        text-align: center !important;
    }
    .banner .social, .timer {
        position: static;
    }
    .content {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
    }
    .content h2 {
        font-size: 55px;
        margin-top: 40px;
    }
    .header {
        padding: 10px 0;
    }
    .event_name span{
        margin: 10px 0 0 0;
    }
    .banner .social{
        margin-left: 0;
    }
    .timer{
        margin-top: 20px;
    }
    .content{
        padding: 0 30px;
    }
    .banner{
        height: 700px;
    }
    .heading:after, .heading:before, .heading span:before{
        display: none;
    }
    .heading{
        padding: 0;
        margin-bottom: 30px;
    }
    .heading span{
        padding: 0;
    }
    .about.b .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact_detail, .sound_div{
        padding: 0;
    }
    .footer .text-left, .footer .text-right{
        text-align: center !important;
    }
    .contact iframe {
        position: static;
        height: 400px;
    }
    .footer span{
        display: block;
        padding: 20px 0;
    }
    .flip {
        height: 300px;
    }
    .mob-none {
        display: none;
    }
    .mob-blck {
        display: block;
    }
    .mbot0 {
        margin-bottom: 0;
    }
}
@media (max-width:420px) {
    .abs_img{
        display: none;
    }
    .banner {
        height: auto;
        padding-bottom: 50px;
    }
    .banner_img{
        position: static;
    }
    .content {
        padding: 0 20px;
    }
    .content h2 {
        font-size: 55px;
        margin-top: 20px;
    }
}